.overview {
    padding: 20px;
    background-color: #f5f6fa;
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alignement en haut de la page */
    box-sizing: border-box;
}

/* Disposition flexbox pour les éléments enfants */
.overview-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Style des cartes individuelles */
.overview-card {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1 1 calc(30% - 20px); 
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    max-height: 180px;
    overflow: hidden;
}

.overview-card h2 {
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: bold;
}

.overview-card p {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.overview-card span {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
}

.overview-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #a777e3, #6e8efb);
}

/* Section des ventes et du trafic */
.sales-traffic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.sales, .traffic {
    background: linear-gradient(135deg, #f093fb, #f5576c);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
    flex: 1 1 100%; /* Prendre toute la largeur pour la carte sales */
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    max-height: 300px; /* Augmenter la hauteur pour accommoder le graphique */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales .recharts-responsive-container {
    width: 100%; /* Utiliser toute la largeur de la carte */
    height: 100%; /* Utiliser toute la hauteur de la carte */
    margin: 0; /* Aucune marge nécessaire */
}

.traffic .recharts-responsive-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales:hover, .traffic:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #f5576c, #f093fb);
}
